<!DOCTYPE html>
<html>
  <head>
    <title>IncidentReportingTool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h2>Lincoln High School</h2>
    <h4>Incident Reporting Page</h4>
    <%= yield %>
  </body>
</html>
